.about {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;

    .content {
      h2 {
        font-size: clamp(24px, 4vw, 40px);
        font-weight: 700;
        margin-bottom: 20px;
        color: var(--primary-color);
      }

      .text {
        margin-bottom: 40px;
      }

    }

    .image {
      margin: auto;
    }

    .numbers {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      li {
        background-color: #fff;
        box-shadow: 0 0 3px 3px #0000001f;
        padding: 20px;
        border-radius: 10px;

        .number {
          font-size: clamp(24px, 4vw, 35px);
          font-weight: 700;
          color: var(--primary-color);
          line-height: 1.2;
        }

        .text {
          font-size: clamp(14px, 4vw, 16px);
          font-weight: 400;
          color: var(--text-color);
          margin: 0;
        }
      }
    }
  }
}