.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 50px 15px;
}

.footer .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.footer .wrapper .logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .wrapper .logo img {
  width: 100px;
  height: 100px;
}

.footer .wrapper .logo .text {
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

.footer .wrapper .logo .social-links {
  display: flex;
  gap: 10px;
}

.footer .wrapper .logo .social-links li a {
  color: white;
  font-size: 20px;
}

.footer .wrapper .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .wrapper .links h3 {
  font-size: 20px;
  font-weight: bold;
}

.footer .wrapper .links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .wrapper .links ul li a {
  color: white;
  font-size: 16px;
}

.footer .wrapper .links ul li a:hover {
  color: var(--secondary-color);
}

.footer .wrapper .links ul li a:hover::before {
  background-color: var(--secondary-color);
}

.footer .social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
}

.footer .copyright {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #ffffff26;
}

.footer .copyright a {
  color: white;
}

.footer .copyright a:hover {
  color: var(--secondary-color);
}