:root {
  --primary-color: #1e3a8a;
  /* Deep Blue similar to typical corporate/org */
  --secondary-color: #3b82f6;
  --text-color: #333333;
  --bg-color: #f4f4f4;
  --white: #ffffff;
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --transition: .5s all ease-in-out;
}

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--text-color);
}

.image-wrap img,
.image-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-btn {
  background-color: var(--primary-color);
  padding: 10px;
  min-width: 170px;
  width: fit-content;
  color: #fff;
  text-align: center;
  display: block;
  transition: var(--transition);
  border: 1px solid var(--primary-color);
  margin: 0 auto 20px;
  font-size: 18px;
  display: block;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 3;
  background: var(--primary-color) linear-gradient(var(--primary-color) 0 0) left /var(--d, 5%) 100% no-repeat;
  transition: var(--transition);
}

.main-btn span {
  position: relative;
  z-index: 6;
  font-size: 12px;
}

.main-btn:hover {
  transition: var(--transition);
  background: var(--primary-color) linear-gradient(var(--primary-color) 0 0) left /var(--d, 95%) 100% no-repeat;
}

.main-btn.reversed {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.main-btn.reversed:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  z-index: 3;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}