.header {
  margin-bottom: 50px;
}

.header .header-slider .item {
  position: relative;
  height: 500px;
}

.header .header-slider .item .image-wrap {
  height: 100%;
  position: relative;
}

.header .header-slider .item .image-wrap img,
.header .header-slider .item .image-wrap video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header .header-slider .item .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 55;
}

.header .header-slider .item .info h2,
.header .header-slider .item .info h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.header .header-slider .item .info h2 {
  font-weight: bold;
}

.header .header-slider .item .info h3 {
  font-weight: normal;
}