.hero-section {
  min-height: 70vh;

  .hero-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}