@media screen and (max-width:1920px) {

  .nav-bar {
    .nav-flex {

      .menu-btn {
        display: none;
      }
    }
  }

  .navbar-mobile {
    &.active {
      opacity: 0;
      visibility: hidden;
    }

    opacity: 0;
    visibility: hidden;
  }


}

@media screen and (max-width:1199px) {}

@media screen and (max-width:991px) {
  .nav-bar {
    position: relative;

    .nav-flex {
      gap: 15px;
      flex-wrap: wrap;

      .navbar-brand {
        img {
          width: 165px;
        }
      }

      .navbar-links {
        display: none;
      }


      .toggle-btn {
        display: flex;

      }

      .contact-btn {
        display: none;
      }

      .icons {
        margin-inline-start: auto;
        font-size: 24px;
        font-weight: bold;
        gap: 10px;
        padding: 0;

        .main-btn {
          display: none;
          min-width: 90px;
        }
      }


    }
  }

  .nav-bar .nav-flex .languages {
    margin-right: auto;
    margin-inline-start: 0;
  }

  .upper-bar .wrapper .wrap-flex {
    width: auto;
  }

  .navbar-mobile {
    &.active {
      opacity: 1;
      visibility: visible;

      .main-btn {
        position: relative;
        z-index: 2;
        margin: 0;
        min-width: 120px;
      }
    }
  }

  .mobile-logo {
    display: block;
  }

  .search-open-btn span {
    display: none;
  }

  .upper-bar .wrapper .navbar-brand {
    display: none;
  }

  .upper-bar .wrapper {
    justify-content: center;

  }

  .upper-bar .wrapper .icons {
    justify-content: center;
    flex: 1;
  }

  .upper-bar .wrapper .social-links li a span {
    color: #000;
  }
}

@media screen and (max-width:767px) {
  .nav-bar .nav-flex .main-btn {
    min-width: fit-content;
  }

  .search-div {
    form {
      width: 85%;
    }
  }



  .nav-bar .nav-flex .icons {
    padding: 0;

  }
}