.fixed-nav {
  background-color: transparent;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;

  }
}

/* UPPER BAR  */
.upper-bar {
  padding: 8px 0;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  border-bottom: 1px solid #fff;
  display: none;

  .wrapper {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    gap: 20px;
    flex-wrap: wrap;

    .navbar-brand {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      img {
        width: 75px;

      }

      span {
        color: var(--primary-color);
      }
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex: 0 0 35%;

      .search-div {
        width: 80%;

        .input-wrap {
          display: flex;
          align-items: center;
          background: #fff;
          min-height: 35px;
          padding: 5px;
          min-width: 200px;
          border-radius: 6px;

          button {
            background-color: transparent;
          }
        }
      }

      .languages {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;

        img {
          width: 25px;
        }


      }
    }


    .social-links {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      li {
        border-radius: 50%;

        a {
          width: 27px;
          height: 27px;
          padding: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 20px;
          background: transparent;
        }

      }
    }
  }

}














.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 35%;

  div {


    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      svg {
        background-color: #1A39B7;
        color: var(--text-color);
        padding: 8px;
        width: 17px;
        border-radius: 50%;
        height: 17px;
      }
    }
  }


}

.languages {

  display: flex;
  align-items: center;
  gap: 5px;

  img {
    width: 25px;
  }


}

/* NAV BAR  */

.nav-bar {
  /* padding: 15px 0; */
  background-color: #343434;
  color: var(--text-color);
  padding: 10px 0;

  .nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;


    .navbar-brand {
      width: 75px;
    }

    .navbar-links {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-start;
      flex: 1;
      flex-wrap: wrap;

      >li {
        position: relative;

        >a {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 3px;
          padding: 5px 0;
          font-size: 13px;
          transition: var(--transition);
          border-radius: 6px;
          font-weight: bold;
          color: #AAAAAA;
          gap: 10px;

          &::before {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: var(--transition);
          }

          &:hover {
            color: #fff;
            transition: var(--transition);
            color: var(--primary-color);


          }

          &.active {
            color: #fff;
            font-weight: bold;
            transition: var(--transition);
            color: var(--primary-color);
          }
        }

        &.menu-item-has-children {
          >a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            &:after {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f107";
              margin: 0 5px;
              color: #AAAAAA;
            }
          }
        }

        .sub-menu {
          position: absolute;
          top: 93px;
          background: #B02D31;
          padding: 15px;
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: flex-start;
          width: 160px;
          opacity: 0;
          visibility: hidden;
          transition: .5s all ease-in-out;
          max-height: 156px;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            background-color: #fff;
            width: 5px;
          }

          &::-webkit-scrollbar-thumb {
            Background-color: #fff
          }

          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #ff0000;
            width: 10px;
          }

          >li {
            padding: 15px 10px;

            &:not(:last-child) {
              border-bottom: 1px solid #ffffff33;
            }

            a {
              color: #fff;
              font-weight: bold;
              font-size: 14px;
            }

            &.menu-item-has-children {
              position: relative;

              >a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:after {
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  content: "\f104";
                  margin: 0 5px;
                }
              }

              >.sub-menu {
                position: absolute;
                top: 0;
                left: -100px;
                background: #fff;
                padding: 15px;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: flex-start;
                width: 160px;
                opacity: 0;
                visibility: hidden;
                transition: .5s all ease-in-out;
              }


              &:hover {
                >.sub-menu {
                  transition: .5s all ease-in-out;
                  top: 0px;
                  left: -160px;
                  opacity: 1;
                  visibility: visible;
                  box-shadow: 0px 0px 6px 3px rgba(238, 238, 238, 0.75);
                  z-index: 255;
                }
              }
            }
          }
        }

        &:hover {
          >a {
            color: var(--primary-color);
          }

          >.sub-menu {
            transition: .5s all ease-in-out;
            top: 25px;
            opacity: 1;
            visibility: visible;
            box-shadow: 0px 0px 6px 3px rgba(238, 238, 238, 0.75);
            z-index: 254;
          }
        }
      }


      li {
        position: relative;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-inline-start: auto;
      padding-inline-end: 20px;
      color: #fff;
      display: none;

      .languages {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;

        img {
          width: 25px;
        }


      }
    }

    .main-btn {
      margin: 0;
      min-width: 120px;
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      padding: 5px;
    }

  }
}