.fixed-nav {
  background-color: transparent;
}

.fixed-nav.fixed {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

/* UPPER BAR  */
.upper-bar {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: #fff;
  border-bottom: 1px solid #fff;
  /* display: none; */
}

.upper-bar .wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  gap: 20px;
  flex-wrap: wrap;
}

.upper-bar .wrapper .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.upper-bar .wrapper .navbar-brand img {
  width: 75px;
}

.upper-bar .wrapper .navbar-brand span {
  color: var(--primary-color);
}

.upper-bar .wrapper .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex: 0 0 35%;
}

.upper-bar .wrapper .icons .search-div {
  width: 80%;
}

.upper-bar .wrapper .icons .search-div .input-wrap {
  display: flex;
  align-items: center;
  background: #fff;
  min-height: 35px;
  padding: 5px;
  min-width: 200px;
  border-radius: 6px;
}

.upper-bar .wrapper .icons .search-div .input-wrap button {
  background-color: transparent;
}

.upper-bar .wrapper .icons .languages {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.upper-bar .wrapper .icons .languages img {
  width: 25px;
}

.upper-bar .wrapper .social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.upper-bar .wrapper .social-links li {
  border-radius: 50%;
}

.upper-bar .wrapper .social-links li a {
  width: 27px;
  height: 27px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  background: transparent;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 35%;
}

.icons div a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icons div a svg {
  background-color: #1A39B7;
  color: var(--text-color);
  padding: 8px;
  width: 17px;
  border-radius: 50%;
  height: 17px;
}

.languages {
  display: flex;
  align-items: center;
  gap: 5px;
}

.languages img {
  width: 25px;
}

/* NAV BAR  */
.nav-bar {
  /* padding: 15px 0; */
  background-color: #fff;
  color: var(--text-color);
  padding: 10px 0;
}

.nav-bar .nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.nav-bar .nav-flex .navbar-brand {
  width: 75px;
}

.nav-bar .nav-flex .navbar-links {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;
}

.nav-bar .nav-flex .navbar-links>li {
  position: relative;
}

.nav-bar .nav-flex .navbar-links>li>a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  padding: 5px 0;
  font-size: 16px;
  transition: var(--transition);
  border-radius: 6px;
  font-weight: 400;
  color: #000;
  gap: 10px;
}

.nav-bar .nav-flex .navbar-links>li>a.current-menu-item {
  color: var(--primary-color);
}

.nav-bar .nav-flex .navbar-links>li>a::before {
  content: "";
  position: absolute;
  bottom: -12px;
  inset-inline-start: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: var(--transition);
}

.nav-bar .nav-flex .navbar-links>li>a:hover {
  color: #fff;
  transition: var(--transition);
  color: var(--primary-color);
}

.nav-bar .nav-flex .navbar-links>li>a.active {
  color: #fff;
  font-weight: bold;
  transition: var(--transition);
  color: var(--primary-color);
}

.nav-bar .nav-flex .navbar-links>li.menu-item-has-children>a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-bar .nav-flex .navbar-links>li.menu-item-has-children>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  margin: 0 5px;
  color: #AAAAAA;
}

.nav-bar .nav-flex .navbar-links .sub-menu {
  position: absolute;
  top: 93px;
  background: #B02D31;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  width: 160px;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease-in-out;
  max-height: 156px;
  overflow-y: scroll;
}

.nav-bar .nav-flex .navbar-links .sub-menu::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}

.nav-bar .nav-flex .navbar-links .sub-menu::-webkit-scrollbar-thumb {
  Background-color: #fff
}

.nav-bar .nav-flex .navbar-links .sub-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ff0000;
  width: 10px;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li {
  padding: 15px 10px;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li:not(:last-child) {
  border-bottom: 1px solid #ffffff33;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li.menu-item-has-children {
  position: relative;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li.menu-item-has-children>a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li.menu-item-has-children>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  margin: 0 5px;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li.menu-item-has-children>.sub-menu {
  position: absolute;
  top: 0;
  inset-inline-start: -100px;
  background: #fff;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  width: 160px;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease-in-out;
}

.nav-bar .nav-flex .navbar-links .sub-menu>li.menu-item-has-children:hover>.sub-menu {
  transition: .5s all ease-in-out;
  top: 0px;
  inset-inline-start: -160px;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 0px 6px 3px rgba(238, 238, 238, 0.75);
  z-index: 255;
}

.nav-bar .nav-flex .navbar-links>li:hover>a {
  color: var(--primary-color);
}

.nav-bar .nav-flex .navbar-links>li:hover>.sub-menu {
  transition: .5s all ease-in-out;
  top: 25px;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 0px 6px 3px rgba(238, 238, 238, 0.75);
  z-index: 254;
}

.nav-bar .nav-flex .navbar-links li {
  position: relative;
}

.nav-bar .nav-flex .icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-inline-start: auto;
  padding-inline-end: 20px;
  color: #fff;
  flex: 0
    /* display: none; */
}

.nav-bar .nav-flex .icons .languages {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav-bar .nav-flex .icons .languages img {
  width: 25px;
}

.nav-bar .nav-flex .main-btn {
  margin: 0;
  min-width: 120px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px;
}