.search-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000f0;
  z-index: 9969;
  opacity: 0;
  visibility: hidden;
  transition: .5s all ease-in-out;

  .close-search {
    color: #fff;
    font-size: 35px;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    min-height: auto;
    display: block;
    margin-top: 50px;
    margin-inline-start: 0;
    cursor: pointer;
  }

  form {
    margin: 50px auto;

    .input-wrap {
      margin-bottom: 30px;
      position: relative;

      input {
        min-height: 50px;
        padding: 15px;

        &[type='submit'] {
          position: absolute;
          inset-inline-start: 3px;
          inset-inline-end: auto;
          top: 2px;
          width: fit-content;
          min-width: 110px;
          padding: 10px;
          min-height: 40px;
          margin: 0;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: .5s all ease-in-out;
  }
}