.search-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000f0;
  z-index: 9969;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;

  .close-search {
    color: #fff;
    font-size: 35px;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    min-height: auto;
    display: block;
    margin-top: 50px;
    margin-inline-start: 0;
    cursor: pointer;
  }

  form {
    width: 60%;

    .input-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      position: relative;
      height: 50px;

      input {
        min-height: 100%;
        padding: 15px;
        width: 100%;
        border: none;

        &:focus,
        &:active,
        &:hover {
          outline: none;
          border: none;
        }


      }

      button[type='submit'] {
        border: 0;
        height: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: .5s all ease-in-out;
  }
}